<div style="background-color: rgb(30,41,59);" class="flex flex-col flex-auto h-80">
          <apx-chart
          class="flex-auto w-full h-full"
            [series]="analytic_chart.series"
            [chart]="analytic_chart.chart"
            [xaxis]="analytic_chart.grid.xaxis"
            [stroke]="analytic_chart.stroke"
            [colors]="analytic_chart.colors"
            [tooltip]="analytic_chart.tooltip"
            [dataLabels]="analytic_chart.dataLabels"
            [legend]="analytic_chart.legend"
            [markers]="analytic_chart.markers"
            [grid]="analytic_chart.grid"
            [yaxis]="analytic_chart.yaxis"
            [title]="analytic_chart.title"
            [plotOptions]="analytic_chart.plotOptions"
          ></apx-chart>
  </div>