// :host{
//     width: 100%;
// }
aside{
    width: 50px;
    max-width: 300px;
    overflow: hidden;
    transition: width 0.5s;
    background-color: #ffffff;
    &:hover{
        width: 250px;
    }
}
.main-container{
    background-color: #fafafa;
}