<div *ngIf="this.dataService.currProject.name.length" class="d-flex w-100">
    <div >
        <div class="d-flex">
            <div class="">Surveys</div>
            <!-- <img class="w-8 h-8 ml-auto object-cover object-center rounded-full" src="https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="cuisine" /> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            <mat-menu xPosition="before" #menu="matMenu">
              <button mat-menu-item>
                <mat-icon fontIcon="home"></mat-icon>
                <a data-bs-toggle="modal" data-bs-target="#create_new_survey" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">create new</a>
              </button>
              <button [matMenuTriggerFor]="surveys" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">modify</a>
              </button>
              <button mat-menu-item>
                <mat-icon>delete_outline</mat-icon>
                <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">delete all</a>
              </button>
            </mat-menu>
            <mat-menu #surveys="matMenu">
              <button (click)="temp_form(prj.name)" *ngFor="let prj of dataService.currProject.data; let i=index;" mat-menu-item>{{prj.name}}</button>
            </mat-menu>
        </div>
        <div class="d-flex mt-2">
            <div class="">{{dataService.currProject.data?.length}}</div>
            <div class="">Created</div>
            <div class="d-flex justify-center w-100 mt-5 text-secondary">
                <div class="">{{dataService.surveys_date}}</div>
                <!-- <div class="ml-1.5 text-lg font-semibold">13</div> -->
            </div>
        </div>
    </div>
    
    <div class="">
        <div class="d-flex">
            <div class="">Reports</div>
            <!-- <img class="w-8 h-8 ml-auto object-cover object-center rounded-full" src="https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="cuisine" /> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu xPosition="before" #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">create new</a>
                </button>
                <button mat-menu-item>
                  <mat-icon>voicemail</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">modify</a>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">delete all</a>
                </button>
              </mat-menu>
        </div>
        <div class="d-flex mt-2">
            <div class="">{{reports}}</div>
            <div class="">Created</div>
        </div>
    </div>
    
    <div class="">
        <div class="d-flex">
            <div class="">Calculations</div>
            <!-- <img class="w-8 h-8 ml-auto object-cover object-center rounded-full" src="https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="cuisine" /> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu xPosition="before" #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">create new</a>
                </button>
                <button mat-menu-item>
                  <mat-icon>voicemail</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">modify</a>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <a [routerLink]="['/dashboard']" class="" role="menuitem" tabindex="-1" id="user-menu-item-0">delete all</a>
                </button>
              </mat-menu>
        </div>
        <div class="">
            <div class="">{{calc}}</div>
            <div class="">Created</div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_new_survey" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Please fill the form</h1>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Survey Name</label>
              <input [(ngModel)]="newSurvey.name" #name type="text" id="exampleFormControlInput1" class="form-control" placeholder="eg. 2023 Grade 6 performance">
            </div>
      </div>
      <div class="modal-footer">
        <!-- <button data-bs-dismiss="modal" class="btn btn-secondary" >Cancel</button> -->
        <button data-bs-dismiss="modal" (click)="create_survey()" class="btn btn-primary">Continue</button>
        <!-- <button data-bs-dismiss="modal" (click)="createSurvey()" [disabled]="!dataservice.survey_data.name" class="btn btn-primary">Continue</button> -->
      </div>
    </div>
  </div>
</div>