<div >
    <div class="">
      <ul class=>
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <a [routerLink]="['/dashboard']">
                <span >Dashboard</span>
            </a>
        </li>
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <a [routerLink]="['/proj']">
                <span >Projects</span>
            </a>
        </li>
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <a>
                <span >Notes</span>
            </a>
        </li>
     
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <a>
              <span >User's Guide</span>
          </a>
        </li>
        <li class="">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <a >
            <span >Notifications</span>
            <span>1.2k</span>
          </a>
        </li>
      </ul>
    </div>
  </div>