<div class="d-flex">
    <div *ngFor="let prj of dataservice.projectsArray; let i=index;" class="">
        <div class="card m-1 mt-0">
            <div class="card-body text-center" style="height: 11.8rem;">
                <h5 (click)="editProj(i)" data-bs-toggle="modal" data-bs-target="#create_new_proj" class="card-title">{{prj.name}}</h5>
                <p class="card-text">{{prj.description}}</p>
                <a (click)="openProj(i)" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
<div data-bs-toggle="modal" data-bs-target="#create_new_proj">
  <a >Create New Project</a>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="create_new_proj" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Please fill the form</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Project Name</label>
                <input [(ngModel)]="project.name" type="text" id="exampleFormControlInput1" class="form-control" placeholder="eg. 2023 Grade 6 performance">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea [(ngModel)]="project.description" class="form-control" id="exampleFormControlTextarea1" placeholder="brief description of the project" rows="3"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal" class="btn btn-secondary" >Cancel</button>
          <button data-bs-dismiss="modal" (click)="!updateBool? createProj():updateProject()" class="btn btn-primary">{{!updateBool? 'Continue':'Update'}}</button>
        </div>
      </div>
    </div>
  </div>
